@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --c1: coral;
    --c2: purple;

}


body {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--c1);
}

a:hover {
    color: var(--c2);
}

img {
    max-width: 100%;
}

main {
    min-height: 64vh;
}

footer {
    background: var(--c1);
    padding: 40px 10px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

/* Formulario */

label {
    margin: 6px 0;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 300px;
    padding: 2px 20px;
    border: 1px solid grey;
    border-radius: 20px;
}

label:hover input,
label:hover select,
label:hover textarea,
label:hover {
    border-color: var(--c1) !important;
    color:var(--c1);
}

input[type="submit"]{
    background: none;
    border:solid var(--c1) 2px;
    color:var(--c1);
    border-radius: 6px;
    padding:6px 8px;
    margin:20px 0;
    cursor:pointer;
}

input[type="submit"]:hover{
    background: var(--c2);
    border:solid var(--c2) 2px;
    color:white;
    border-radius: 6px;
    padding:6px 8px;
}